@import '../../../../styles.scss';

.merchant-details{
    width: 30% !important;
}

.transaction {
    display: flex;
    max-height: 25em;
    overflow: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }

    &-inner {
        width: 100%;
        justify-content: space-between;
    }

    &-item {
        padding: 1em 0 1em 0;
    }

    &-date {
        flex-grow: 1;
        text-align: center;
        width: 20%;
    }

    &-merchant {
        flex-grow: 1;
        width: 200%;
    }

    &-amount {
        flex-grow: 1;
        text-align: right;
        width: 30%;
    }

    &-merchant {
        font-size: 0.875em;
    }

    &-credit {
        color: $green;

        &-border {
            border-left: 6px solid $green;
        }
    }

    &-debit {
        color: $red;

        &-border {
            border-left: 6px solid $red;
        }
    }
}