<div class="modal-header">
    <div class="review-header">
        <span class="review-emphasis">Review</span> Transfer
    </div>
</div>
<div class="modal-body">
    <div class="review-subheader">Are you ready to send out this transfer?</div>
    <div class="review-group">
        <div class="review-emphasis">It will be sent to account:</div>
        <div class="review-item">{{ transfer.account | titlecase }}</div>
    </div>
    <div class="review-group">
        <div class="review-emphasis">With the amount of:</div>
        <div class="review-item">{{ transfer.amount | currency: 'EUR' }}</div>
    </div>
</div>
<div class="modal-footer">
    <div class="review-button-close" (click)="close('close')">Close</div>
    <div class="review-button-confirm" (click)="close('confirm')">Send Transfer</div>
</div>