.home {
    &-header {
       background-color: white;
       padding: 0.625em 0.625em 0.625em 0.625em; 
    }

    &-body {
        display: flex;
        justify-content: center;
    }

    &-transfer {
        width: 40%;
        margin: 2rem;
    }

    &-footer {
        position: fixed;
        background-color: white;
        padding: 0.625em 0 0.625em 0;
        bottom: 0;
    }
}