/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

@import './app/components/bb-ui/styles/main.scss';

body {
    font-family: 'Lexend', sans-serif;;
    background-color: lightgray;
    margin: 0;
}