/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import './app/components/bb-ui/styles/main.scss';

$red: #DC143C;
$orange: #F9842C;
$green: #228B22;
$grey: #E9ECEF;
$dark-grey: #D1D4D7;
$darkest-grey: #808890;

body {
    margin: 0;
    font-family: 'Lexend', sans-serif;;
    background-image: url(/assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

button {
    color: white !important;
    background-color: $orange !important;
    border: 0.0625em solid $dark-grey !important;

    &:hover {
        color: $orange !important;
        background: white !important;
        border: 0.0625em solid $orange !important;
    }
}